@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
body a{
    text-decoration: none;
    color: #222222;
}
.container{
    width: 1141px;
    margin: 0 auto;
}
.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}
.header{
    width: 1616px;
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    background-color: #ffffff;
    border: solid 1px #ececec;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -808px;
    z-index: 3;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
    position: relative;
}
.header-right-img{
    margin-right: 26px;
}
.header-left a:nth-child(2){
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: 0.4px;
    text-align: right;
}
.link-logo{
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 0.7px;
    text-align: center;
    margin-right: 37px;
    color: #222222;
}
.link-logo span{
    color: #f16d7f;
    font-weight: 900;
}
.header-left details[open]{
    background-color: #ffffff;
    line-height:28px;
    font-size: 14px;
    color: #4f4f4f;
    padding: 10px;
    width: 262px;
    box-sizing: border-box;
}
.header-left details li{
    list-style-type: none;
}
summary::-webkit-details-marker{
    display: none;
    text-align: right;
}
summary::after {
    content: '\23F7';
    padding-right: 0.5em;
    float: right;
}
details[open] summary::after {
    content: '\23F6';
    text-align: right;
}
.header-left summary{
    height: 38px;
    width: 87px;
    line-height: 38px;
    text-align: center;
    border: solid 1px #e6e6e6;
}
.details-items{
    font-size: 14px;
    line-height: 2.36;
    padding-left: 17px;
    z-index: 100;
}
.details-items a{
    color: #6f6e6e;
}
.details-items a:hover {
    color: #f16d7f;
}
.details-items ul{
    z-index: 100;
    width: 87px;
}
#search-field {
    height: 40px;
    width: 280px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    padding-left: 30px;
    box-sizing: border-box;
}
#search-field::-webkit-input-placeholder {
    color:#a4a4a4;
    font-size: 14px;
    font-weight: 300;
}
#search-button{
    height: 40px;
    width: 38px;
    margin-left: -5px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
}
#search-button:hover{
    color: #f16d7f;
}
.nav-menu{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-menu li{
    list-style: none;
}
.nav-menu>li{
    position: relative;
}
.nav-menu a{
    padding: 20px;
    display: block;
}
.sub-menu{
    padding:20px;
    border-radius:5px;
    border:1px solid #e8e8e8;
    display: none;
    background-color: white;
    position: absolute;
    top:60px;
    left:-50px;
}
.container>.nav-menu>li:hover .sub-menu{
    display: flex;
    z-index: 1;
}
#browse-button:hover .sub-menu{
    display: flex;
    z-index: 1;
    position: absolute;
    top: 50px;
}
#browse-button:hover{
    background-image: url(../images/arrow-up.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
.browse-open{
    width: 90px;
    height: 10px;

}
#browse-button{
    position: relative;
    height: 38px;
    width: 87px;
    line-height: 38px;
    text-align: center;
    border: solid 1px #e6e6e6;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    color: #222222;
}
#browse-button ul{
    list-style: none;
    text-align: left;
}
#browse-button .sub-menu{
    text-align: left;
    font-size: 14px;
}
#browse-button .sub-menu a{
    padding: 0;
}
#browse-button .sub-menu a:hover{
    color: #f16d7f;
}
.sub-menu-flex a{
    padding: 4px ;
}
.sub-menu-flex{
    width: 235px;
    margin-right: 40px;
}
.sub-menu-flex img{
    width: 235px;
    margin-top: 22px;
}
.sub-menu-flex:last-child{
    margin-right: 0;
}
.sub-menu-flex h3{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: 0.4px;
    color: #232323;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 16px;
}
.sub-menu-flex li{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.4px;
    color: #646464;
    text-transform: capitalize;
}
.sub-menu-flex a:hover{
    color: #f16d7f;
}
.rectangle{
    height: 18px;
    width: 18px;
    border-top:1px solid #e8e8e8;
    border-left:1px solid #e8e8e8;
    position: absolute;
    top: -10px;
    left: 75px;
    transform: rotate(45deg) skewY(-3deg);
    background: white;
}

.slider{
    height: 148px;
    background-color: #e8e8e8;
    width: 1606px;
}
.slider-text h2{
    font-size: 60px;
    line-height: 48px;
    padding-bottom: 12px;
}
.slider-text h4{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 148px;
}
.directory-slider{
    font-size: 14px;
    color: #636363;
    text-transform: uppercase;
}
.pink-text{
    color: #f16d7f;
    font-weight: bold;
    text-transform: uppercase;
}
.slider-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.slider-text{
    float:left;
}
.left-menu{
    width: 243px;
    float: left;
}
.main-center{
    display: flex;
    justify-content: space-between;
}
.left-menu details{
    margin-top: 18px;
}
.left-menu:nth-child(1){
    margin-top: 71px;
}
.left-menu summary{
    border-left: 5px solid #ef5b70;
    box-shadow: 0 3px 2px #f8f3f4;
    height: 37px;
    line-height: 37px;
    text-indent: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #6f6e6e;
}
.left-menu details[open]{
    color: #4f4f4f;
}
.left-menu details li{
    list-style-type: none;
}
.left-menu details[open] summary{
    color: #ef5b70;
}
.choise{
    position: relative;
    width: 100%;
    margin-top: 90px;
}
.trending{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.trending-link{
    width: 176px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.separator{
    margin: 0 8px;
}
.size-link{
    width: 236px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -28px;
}

.size-link input{
    margin: 0 28px;
}
.size-link label{
    margin-left: -28px;
}
.size td{
    width: 69px;
}
.sort-show-border{
    background-color: #f3f3f3;
    margin-bottom: 48px;
    height: 50px;
}
.sort-show-button{
    display: flex;
    justify-content: left;
}
.sort{
    display: flex;
    background-color: #ffffff;
    height: 30px;
    margin: 10px;
}
.sort-show-button select{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #6f6e6e;
    line-height: 1.86;
    border-color: #f3f3f3;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 27px;
    text-align: center;
    -webkit-appearance:none;
    -moz-appearance:none;
    background-image:url('../images/arrow-down.png');
    background-repeat:no-repeat;
    background-position: 95% 50%;
    padding-left: 10px;
}

#sort-show-summary-id{
    width: 86px;
}
.sort-header{
    width: 66px;
    text-align: center;
    color: #6f6e6e;
}
#show-button{
    margin-left: 0;
}

#show-select-id{
    width: 63px;
}
#show-header{
    width: 55px;
}
.featured-items{
    width: 846px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.26;
    letter-spacing: 0.4px;
    color: #9f9f9f;
}
.productItem{
    height: 364px;
    width: 263px;
    margin-bottom: 10px;
    position: relative;
    background-color: #ffffff;
}
.productItem-img{
    width: 100%;
}
.productItem-img:hover{
    filter: brightness(45%);
}
.productItem:hover .add-flex{
    display: flex;
}
.product-name-text, .product-price{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    text-transform: uppercase;
    padding-left: 10px;
}
.product-price{
    font-weight: bold;
    color: #f16d7f;
}
.product-name-text{
    margin-bottom: 18px;
}
.product-price{
    margin-bottom: 21px;
}
.add-flex{
    position: absolute;
    top:94px;
    left:70px;
    width: 123px;
    display: none;
}
.add{
    padding: 15px;
    border: solid 1px #ffffff;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.add:hover{
    background-color: white;
    color: black;
}
.all-product-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.productItem:nth-child(4n) {
    margin-right: 0;
}
.productItem:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.button-brows-all-product{
    height: 50px;
    width: 180px;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    line-height: 50px;
    border: 1px solid #eaeaea;
}
.button-brows-all-product:hover{
    background-color: #f16d7f;
    color: #ffffff;
}
.center-position{
    width: 212px;
    height: 48px;
    margin-top: 80px;
    margin-bottom: 110px;
    margin-left: auto;
    line-height: 48px;
}
.special-offer{
    height: 341px;
    display: flex;
    width: 1609px;
    margin: 0 auto;
    position: relative;
}
.special-offer-img{
    height:100%;
    width: 767px;
}
.special-offer-left{
    position: relative;
}
.special-offer-left .smi-text{
    font-size: 32px;
    background: none;
    color: white;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-top: 146px;
    margin-left: 39px;
}
#smi-text-span1{
    font-size: 54px;
    color: white;
    letter-spacing: 1.3px;
    font-weight: bold;
}
#smi-text-span2{
    font-size: 54px;
    letter-spacing: 1.3px;
    font-weight: bold;
}
.special-offer-right{
    width: 1609px;
    background: #222224;
}
.sor-item-ico{
    padding: 0 31px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sor-item-ico img{
    padding-bottom: 50px;
}
.sor-text{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #fbfbfb;
    display: flex;
    justify-content: space-around;
    margin: 92px 222px
}
.sor-text-item {
    text-align: center;
    width: 309px;

    line-height: 1.71;
}
.sor-text-item span{
    font-size: 20px;
    font-weight: bold;
}
.lower-slider{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/feedbackground.jpg);
    background-size: cover;
    height: 438px;
    width: 1609px;
    margin: 0 auto;
    position: relative;
}
.lower-slider-left img{
    border-radius: 41px;
    margin-bottom: 100px;
    float:left;
}
.lower-slider-left{
    font-size: 16px;
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    text-align: left;
    color: #222224;
    width: 50%;
    height: 100%;
    padding-top: 95px;
}
.lower-slider-left-text{
    max-width: 386px;
    margin-left: 100px;
}
.lower-slider-right{
    width: 50%;
    height: 100%;
    padding-top: 100px;
}
.lower-slider .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#lower-slider-span1{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.4px;
    text-align: left;
    color: #f16d7f;
    display: inline-block;
    margin-top: 18px;
}
#lower-slider-span2{
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #222224;
}
.slider-button-item{
    background-color: #d6d6d6;
    width: 38px;
    height: 4px;
    margin-right: 13px;
}
.slider-button{
    margin-top: 41px;
    display:flex;
    flex-direction: row;
}
.slider-button-item:nth-child(2){
    background-color: #f16d7f;
}
.lower-slider-right-text{
    text-align: center;
}
#lower-slider-span3{
    font-size: 24px;
}
#lower-slider-span4{
    font-size: 14px;
    line-height: 24px;
}
.lower-slider-right form{
    text-align: center;
    margin-top: 35px;
}
.lower-slider-right input{
    width: 282px;
    height: 46px;
    border-radius: 46px 0 0 46px;
    background-color: #e1e1e1;
    border: none;
    padding-left: 28px;
    box-sizing: border-box;
}
.lower-slider-right input::-webkit-input-placeholder{
    color: rgba(34, 34, 36, 0.67);
    font-size:14px;
}
.lower-slider-right button{
    height: 46px;
    width: 104px;
    background-color: #f16d7f;
    border: none;
    border-radius: 0 46px 46px 0;
    margin-left: -10px;
    color: #ffffff;
}
.lower-slider{
    margin-bottom: 123px;
}
.bmi-text{
    max-width: 427px;
    max-height: 180px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #898989;
    text-overflow: clip;
}
.bottom-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-menu h3{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.5px;
    text-align: left;
    color: #f16d7f;
    margin-bottom: 45px;
}
.bottom-menu li{
    list-style-type: none;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.63;
    letter-spacing: 0.4px;
    text-align: left;
    color: #898989;
}
.bottom-menu a:hover{
    color: #f16d7f;
}
#bottom-menu-logo{
    margin-bottom: 41px;
}
footer{
    background-color: #e6e6e6;
    margin-top: 97px;
}
footer .container{
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.63;
    letter-spacing: 0.4px;
    color: #7a7a7a;
}
.footer-right{
    font-size: 32px;
    color: #ffffff;
}
.footer-right i:hover{
    color: #f16d7f;
    background: #f7f7f8;
}
.footer-right i{
    background: #b2b2b2;
    line-height: 27px;
}
#price-slider{
    width: 230px;
    height: 73px;
}
.choise-option{
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
    margin-bottom: 41px;
}
.pagination a{
    font-size: 16px;
    line-height: 26px;
    margin-right: 14px;

}
.pagination a:nth-child(7){
    margin-right: 0;
}
.pagination a:nth-child(2){
    color: #ef5b70;
}
.pagination a:last-child{
    color: #ef5b70;
}
.pagination-and-button{
    margin-top: 43px;
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;
}
#amount-in-cart{
    background-color: #f16d7f;
    border-radius: 10px;
    width: 19px;
    text-align: center;
    color: #ffffff;
    font-family: Lato sans-serif;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 21px;
}
.invisible{
    visibility: hidden;
}
.top-menu-margin {
    margin-top: 100px;
}
.droppable{
    z-index: 2;
}
.ui-state-active{
    height: 545px;
    transition-duration: 0.15s;
}

.ui-state-highlight{
    transition-duration: 0.2s;
}
.cartBorder{
    width: 98%;
    height: 390px;
    border: 3px dashed lightgrey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    padding-bottom: 33px;
}
#cart-container-title{
    font-size: 25px;
    display: block;
    color: lightgrey;
    margin-top: 35px;
}
.ui-draggable-dragging {
    z-index: 3;
}
.price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #222222;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #222222;
}
.prod-image img{
    height: 100px;
}
#cart-container{
    width: 1348px;
    display: flex;
    justify-content: start;
    overflow-x: auto;
}
.cart-header {
    width: 100px;
    margin: 10px;
    color: #222222;
}
.chr-legend{
    text-transform: uppercase;
}
.chr-legend-left-title{
    padding-top: 105px;
}
.chr-legend-right-title{
    padding-top: 58px;
}
.chr-legend-title{
    padding-top: 1px;
}
.chr-legend-title:last-child{
    padding-top: 10px;
}
.quantityInputForm::-webkit-outer-spin-button,
.quantityInputForm::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.quantity input{
    text-align: center;
}
#search-button:hover{
    color: #f16d7f;
}
.cart-container-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.grand-total{
    width: 165px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    color: #222222;
    text-transform: uppercase;
}
.grand-total-count {
    color: #f16d7f;
}
.button-clear-continue{
    width: 175px;
    height: 50px;
    background: #f16d7f;
    border: 1px solid #f16d7f;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
}
.button-clear-continue:hover{
    background: #ffffff;
    border: 1px solid #eaeaea;
    color: #222222;
}
.total{
    margin-right: 10px;
    position: relative;
    bottom: -65%;
}